:root {
    --gradient: linear-gradient(to right, #FF3F3A, #F75E05);
    --XXL: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
}

/* Universal styles */

.container {
    max-width: 1230px;
    margin: 0 auto;
}

.gradient-button {
    padding: 15px 40px;
    background: var(--gradient);
    color: #fff;
    border-radius: 4px;
    outline: none;
    border: none;
}

/* Header */

.header {
    padding-top: 10px;
}

.header__nav,
.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-list {
    margin: 0 220px 0 60px;
}

.header__link:not(:last-child) {
    margin-right: 40px;
}

.header__link > a {
    color: #424551;
}

.header__button-container {
    display: flex;
    align-items: center;
    gap: 36px;
}

.header__button-container>button:nth-child(2) {
    display: flex;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: none;
    gap: 8px;
}


.header {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25),
                0 80px 80px -10 rgba(154, 156, 165, 0.008);
}

.container {
}

.header__container {
}

.header__nav {
}

.header__logo {
}

.header__nav-list {
}

.header__link {
}

.header__button-container {
}
.gradient-button {
}